* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.m-y {
    margin-top: 5em;
    margin-bottom: 5em;
}

.header {
    padding: 15px;
    background-color: greenyellow;
    color: white;
    border-radius: 0 0 15px 15px;
    height: 50px;
    box-shadow: 0 10px 15px gray;
}

.logo {
    float: left;
}

.logo span {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-left: 10px;
}

.menu {
    float: right;
}

.menu li {
    list-style: none;
    padding: 8px;
    display: inline-block;
    font-size: 24px;
    font-family: sans-serif;
}

.menu li a {
    text-decoration: none;
    color: white;
}